<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration List</title>
    <link rel="stylesheet" href="/css/listRegistrationPage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/active.css" />
  </head>

  <body>
    <!-- Top blue contact bar -->
    <div class="topbar-blue">
      <div class="left">
        <i class="fas fa-phone"></i> 036 272 8710
        <span class="separator">|</span>
        <i class="fas fa-envelope"></i> 22120036@student.edu.vn
      </div>
      <div class="right">
        <i class="fas fa-clock"></i> <span id="clock">Đang tải...</span>
      </div>
    </div>

    <!-- White sub-header bar -->
    <header class="topbar">
      <div class="logo-info">
        <a href="/home" class="logo-link">
          <img src="/images/logo.png" alt="ACCI logo" class="logo" />
        </a>
      </div>
      <div class="staff-info">
        <a href="#" class="logout"><strong>Đăng xuất</strong></a>
      </div>
    </header>

    <div class="banner">
      <img src="/images/banner.png" alt="Banner" class="banner-image" />
    </div>

    <nav class="navbar">
      <a href="/list-registration-forms" class="active"
        >Danh sách phiếu đăng ký</a
      >
      <a href="/schedule">Tạo lịch thi</a>
      <a href="/invoice">Lập hóa đơn</a>
      <a href="/results">Tra cứu kết quả thi</a>
    </nav>

    <main class="content">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h2>Danh sách phiếu đăng ký</h2>
        <a href="/registrations/individual/form" class="btn-create"
          >Lập phiếu đăng ký</a
        >
      </div>

      <div class="legend">
        <span><span class="dot green"></span>Đã thanh toán</span>
        <span><span class="dot red"></span>Chưa thanh toán</span>
        <span><span class="dot yellow"></span>Gia hạn</span>
      </div>
      <table class="registration-table">
        <thead>
          <tr>
            <th>ID phiếu đăng ký</th>
            <th>Tên khách hàng</th>
            <th>Ngày đăng ký</th>
            <th>Lần gia hạn</th>
            <th>Tên thí sinh</th>
            <th>Lịch thi</th>
            <th>Chứng chỉ</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="registration-body"></tbody>
      </table>
    </main>
    <script src="/js/listRegistration.js"></script>
    <script src="/js/headerAllPage.js"></script>
  </body>
</html>
